{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quis distinctio. Alias atque incidunt doloremque, aliquam, nobis voluptate neque autem non eius ipsa molestias. Quae, natus vitae, hic eius dicta asperiores, architecto culpa neque quibusdam minima temporibus totam! Vitae reprehenderit qui non nobis, necessitatibus debitis, hic veritatis architecto corporis porro velit labore dolore, natus aperiam. Voluptatem iste praesentium obcaecati quod dolor debitis corrupti, temporibus odio pariatur officia voluptatibus ipsum dolorem, in, tenetur reprehenderit dolore repellendus? Corporis similique blanditiis dolore suscipit officia quae porro at sequi quas reiciendis, dignissimos quis minima obcaecati rerum sed aliquid. Vitae doloremque nostrum dolorum! Voluptatibus, recusandae!</p>

<p>website created By {{ username }}</p>
{% endblock %}
